@model Cumulative_Assignment.Models.Teacher

<h2>@Model.TeacherFName @Model.TeacherLName</h2>
<a href="/TeacherPage/DeleteConfirm/@Model.TeacherId">Delete</a>
<p>Teacher Id: @Model.TeacherId</p>
<p>Hired on: @Model.HireDate</p>
<p>Salary(in dollars): @Model.Salary</p>
